<div class="pagina-inicial-container">
  <mat-card class="welcome-card">
    <mat-card-header>
      <mat-card-title>Bem-vindo ao Conversor de Moedas!</mat-card-title>
      <mat-card-subtitle>Conversões rápidas, precisas e intuitivas</mat-card-subtitle>
    </mat-card-header>
    <br>

    <img mat-card-image src="https://www.cielo.com.br/assets_cielo/converter/whatIs/flash_dolar_real.webp" alt="Imagem de conversão de moedas">
    
    
    <mat-card-content>
      <p>
        Nossa plataforma de conversão de moedas foi desenvolvida para atender as suas necessidades de forma prática e eficiente. 
        Com atualizações constantes nas taxas de câmbio, oferecemos a você os valores mais precisos, 
        permitindo uma experiência de conversão confiável.
      </p>
      <p>
        Além disso, você pode explorar uma lista completa de moedas disponíveis, visualizar o histórico das suas conversões 
        anteriores e monitorar taxas de câmbio em tempo real. A navegação é fácil e intuitiva, para que você possa converter valores 
        de forma rápida e segura.
      </p>
    </mat-card-content>
  </mat-card>
</div>
